<h3>FAQ</h3>

<p class="question">
  Q: Why is Bus or Train <em>X</em> missing from the list of routes?
</p>

<p><strong>A:</strong> If a bus or train route isn't
in service today, it won't show up at all on this list. Look for it on the list
tomorrow (or Monday) morning, and chances are that you'll see it. If not, please report the bug.  </p>

<p>This is a common source of confusion that might be remedied in the next
version of the app.</p>

<p class="question">
  Q: How can I support OpenMBTA?
</p>

<p><strong>A:</strong> The more people who use OpenMBTA, the more time we'll spend 
developing it. So please tweet about it, demo the app for others, and give the app a good
rating and review in the Apple App Store.
</p>


