<h3>FAQ</h3>

<p class="question">
  Q: Why is Bus or Train <em>X</em> missing from the list of routes?
</p>

<p><strong>A:</strong> If a bus or train route is done all its trips for the day or isn't
in service today, it won't show up at all on this list. This is a potential
source of confusion that might be remedied in the next version of the app.  </p>

