<fieldset>
  <div class="row">
    <%= render :partial => 'home/credits' %>

    <p>
    For more information, and to submit bug reports and feedback, please visit
    http://iphonembta.org.
    </p>

  </div>
</fieldset>
