<fieldset>
  <div class="row">
    <%= render :partial => 'faq' %>
    <h3>Mission</h3>

    <p>This app was created to help fight global warming. Global warming is the most serious problem we face right now. And it's a no brainer that we can fight global warming by making the experience of public transportation better and more attractive for people. OpenMBTA is part of a new <strong>green software movement</strong> that calls on developers to donate their time to making free and useful software that helps us save the environment. </p>

    <%= render :partial => 'home/credits' %>

    <p>
    For more information, and to submit bug reports and feedback, please visit
    <a href="http://openmbta.org">http://iphonembta.org</a>.
    </p>

  </div>
</fieldset>
