<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<fieldset>
  <div class="row">
    <%= render :partial => 'faq' %>
    <h3>Mission</h3>

    <p>This app is free and open source. It was created to promote public
    transportation in order to help fight global warming and reduce our
    dependency on the oil imports that keep autocratic regimes in power.
    OpenMBTA is part of a new <strong>green software movement</strong> that
    calls on developers to donate their time to making free and useful software
    that helps us save the environment and promote democracy. </p>

    <%= render :partial => 'home/credits' %>

    <p>
    For more information, and to submit bug reports and feedback, please visit
    <a href="http://openmbta.org">http://iphonembta.org</a>.
    </p>

  </div>
</fieldset>
