<fieldset>
  <div class="row">

    <h3>The mission of the app</h3>

    <p>
      Information here.
      here here Information here.
      Information here.
      Information here.
      Information here.
      Information here.
    </p>

    <p>
      Second paragraph.
    </p>

    <p>
      A third paragraph.
    </p>


  </div>
</fieldset>
