<fieldset>
  <div class="row">
    <h3>
      About OpenMBTA
    </h3>
  </div>

  <div class="row">

        <p>
          Information here.
          here here Information here.
          Information here.
          Information here.
          Information here.
          Information here.
        </p>

        <p>
          Second paragraph.
        </p>

        <p>
          A third paragraph.
        </p>


  </div>
</fieldset>
