<fieldset>
  <div class="row">

    <h3>About OpenMBTA</h3>

    <p>

    The idea for this iPhone app was born during <%= link_to "Open Government
    Hack Day", "http://opengovhackday.pbworks.com/" %>  at Betahouse in Boston
    on September 27, 2009.

    </p>

    <p>
    
    At that meeting yours truly proposed that there should be a
    free, open-source, advertising-free iPhone app to use the MBTA's recently
    released Google Transit Feed Specification (GTFS)-conformant data. 

    </p>

    <p>
    
    Chris Dempsey, Assistant Secretary for Innovation and Project
    Development at Massachusett's Executive Office of Transportation, also attended 
    the same meeting and gave a lot of support for the idea.
    
    </p>

    <p>
    
    So to make a long story short, OpenMBTA was born.

    </p>

    <p>

    The source code for the entire application will be released on November 9,
    2009, after which OpemMBTA will become an official open source project. My
    hope is that other software developers and artists will take up the torch
    and build on the foundation of Version 1.0 to take this application to the
    next level.  

    <p>

    <p>

    Support our excellent public transportation system. It's one of the many great
    things about living in Boston.

    </p>

  </div>
</fieldset>
