<fieldset>
  <div class="row">
    <h3>FAQ</h3>

    <p class="question">
      Q: Why is Bus <em>X</em> missing from the list of bus routes?
    </p>

    <p><strong>A:</strong> If a bus route is done all its trips for the day or isn't
    in service today, it won't show up at all on this list. This is a potential
    source of confusion that might be remedied in the next version of the app.  </p>

    <%= render :partial => 'home/credits' %>

    <p>
    For more information, and to submit bug reports and feedback, please visit
    <a href="http://openmbta.org">http://iphonembta.org</a>.
    </p>

  </div>
</fieldset>
