<h1>Support page for OpenMBTA</h1>

<div>

  <p>

    If you have any questions, problems, or a feature request, please post them in the comment section below:

  </p>

  <div id="comment_section">
        <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/openmbta/embed.js"></script><noscript><a href="http://instantwatcher.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>


</div>

