.DS_Store
*.swp
*~.nib
build/
*.pbxuser
*.pbxproj
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
.DS_Store
log/
tmp/
#.sql
*.sqlite3
*.swp
*.csv
ProjectNotes/
Legacy/
screenrc
iTunesConnect/
database.yml
