<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>OpenMBTA iPhone App</title>
    <% %w{ reset 960 text site }.each do |stylesheet| %>
      <%= stylesheet_link_tag "#{stylesheet}.css" %>
    <% end %>
  </head>
  <body>
    <div class="container_12">
      <div class="grid_7 prefix_1">
        <%= yield %>
      </div>
      <div class="grid_3 suffix_1">
        
        <div class="grid_3">
          <div class="sidebar">
            <h4>Navigation</h4>
            <ul>
              <li><%= link_to_unless_current "Home", "/" %></li>
              <li><%= link_to_unless_current "Support & Feedback", :controller => "support" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
