<div class="pagerControls">
  <span class="pageLeftLink">
    <%= link_to_function "&lt;&lt; previous", "pageLeft()" %>
  </span> 
  |
 
  <span class="pageRightLink">
    <%= link_to_function "next  &gt;&gt;", "pageRight()" %>
  </span>
</div>

