<% if @trip_sets.size > 1 %>
<div class="pagerControls">
  <span class="pageLeftLink">
    <%= link_to_function "&lt;&lt; start", "toStart()" %>
    |
    <%= link_to_function "&lt; prev", "pageLeft()" %>
  </span> 
  |
 
  <span class="pageRightLink">
    <%= link_to_function "next  &gt;", "pageRight()" %>
    | <%= link_to_function "end  &gt;&gt;", "toEnd()" %>
  </span>
  <div class='note' style='margin-top:0;text-align:center;'>
    You can also try swiping left or right
  </div>
</div>
<% end %>
