<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>OpenMBTA iPhone App</title>
    <%= javascript_include_tag 'tripmap.js' %>

  </head>
  <body>

    <h3>Trips</h3>

    <div id="map_canvas">
    </div>

    <%= @result.inspect %>

  </body>

</html>


