<div class="nav">
  main
</div>

<ul class="main-menu">
  <% @modes.each do |m| %>
    <li>
    <%= link_to m.split("_").map(&:capitalize).join(' '), "/routes/#{m}" %>
    </li>
  <% end %>
  <li>
    <%= link_to "T-Alerts", '/alerts.html' %> 
  </li>
  <li>
    <%= link_to "About/FAQ", "/about/mobile_version" %> 
  </li>
</ul>

<%= image_tag '/images/Default.png', :width => 150 %>

