
<h3>Credits</h3>

<p> The idea for this mobile app was born during <%= link_to "Open Government
Hack Day", "http://opengovhackday.pbworks.com/" %>  at <%= link_to "Betahouse",
"http://twitter.com/betahouse" %>  in Central Square, Cambridge, MA on September
27, 2009.  </p>

<p>
<a href="http://danielchoi.com/software">Daniel Choi</a> started this project
and wrote first iPhone version of OpenMBTA. 
</p>

<p>
Daniel Choi and Eric Richmond created the current, mobile web version of OpenMBTA.
</p>

<p> 
Chris Dempsey, Assistant Secretary for Innovation and Project Development at
Massachusetts' Executive Office of Transportation (EOT), provided much encouragement
and graciously answered lots of questions.  
</p>

<p>
Braulio Carreno also provided this project with very useful insights into the
GTFS dataset.  
</p>

<p> 
Finally, this project would not be possible without the EOT's serious efforts to make MBTA
data available to outside software developers and to the public.  
</p>

