body {
  margin: 0;
  width: 316px;
  font-family: Helvetica;
  padding: 10px 2px;
}
p, div { font-size: 13px; }
.main-menu li {
  line-height: 1.5em;
}
ul.main-menu {
  margin-left: 0;
  list-style-type: square;
}

#stop_info {
	font-size: 18px;
	font-weight: bold;
}
.info {
  font-size: 13px;
  background-color:#B5FFC1;
  padding: 5px 2px;
  margin-top:5px;
}
.normal-text {
  font-size: 13px;
  padding: 5px 2px;
  margin-top:5px;
}
.jump-link {
  float:left;
  display: block;
  width: 2.8em;
  margin: 3px 0;
}
.note {
  font-size: 11px;
  margin-top: 5px;
}
table.mbta {
  clear: left;
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}
/* stop names in grid */
tr.row-header {
  background-color: #EFEFEF;
  font-weight:bold;
}
td.stop-name-header {
  padding-top:2px;
  padding-bottom: 1px;

}
.imminent-stop {
  background-color: #FFADF4;
}
.trips-left {
  color: #333;
}
.mbta td {
  border: 1px solid #CCC;

}
td.arrival-time {
  width: 14.2%;
  font-size: 10px;
  padding: 5px 0 3px 2px;
}
td.arrival-time-even {
  background-color: #FFE3EA;
}
td.no-arrival {
  background-color: #A199BD;

}
.stop-detail {
  font-size: smaller;
  font-weight: normal;
}
.arrival-time-float {
  float: left;
  width: 4.5em;
  margin: 4px 4px 4px 0;
  font-weight: bold;
  font-size: 12px;
}
.even {
  background-color: #EDEDED;
}
.alert {
  border-bottom: 1px solid #666;
  padding: 5px 5px;
  font-size: 12px;
  
}
.alert h4 {
  margin: 0;
  margin-bottom: 4px;
}
.alert .time {
  color: #FF1F5D;
}
.closestStop {
  background-color: #ABDAFF;
}
#closestStopFound {
  margin-bottom: 0;
}
.example-blue {
  background-color: #ABDAFF;

}
.pagerControls {
  padding: 6px 0;
  text-align:center;
}
.disabled a {
  color: #CCC;

}
