body {
  margin: 0;
  width: 316px;
  font-family: Helvetica;
  padding: 10px 2px;
}
p { font-size: 13px; }
.main-menu li {
  line-height: 1.5em;
}
ul.main-menu {
  margin-left: 0;
  list-style-type: square;
}

#stop_info {
	font-size: 18px;
	font-weight: bold;
}
.info {
  font-size: 13px;
  background-color:#B5FFC1;
  padding: 5px 2px;
  margin-top:5px;
}
.normal-text {
  font-size: 13px;
  padding: 5px 2px;
  margin-top:5px;
}
.jump-link {
  float:left;
  display: block;
  width: 2.8em;
  margin: 3px 0;
}
.note {
  font-size: 11px;
  margin-top: 5px;
}
table.mbta {
  width: 100%;
  font-size: 12px;
}
tr.row-header {
  background-color: #EFEFEF;
  font-weight:bold;
}
.imminent-stop {
  background-color: #FFADF4;
}
.trips-left {
  color: #333;
}
.arrival-time {
  width: 33%;
}
.stop-detail {
  float:right;
  font-size: smaller;
  font-weight: normal;
}
.arrival-time-float {
  float: left;
  width: 4.5em;
  margin: 4px 4px 4px 0;
  font-weight: bold;
  font-size: 12px;
}
.even {
  background-color: #EDEDED;
}
.alert {
  border-bottom: 1px solid #666;
  padding: 5px 5px;
  font-size: 12px;
  
}
.alert h4 {
  margin: 0;
  margin-bottom: 4px;
}
.alert .time {
  color: #FF1F5D;
}
.closestStop {
  background-color: #ABDAFF;
}
.example-blue {
  background-color: #ABDAFF;

}
