body {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  border-top:5px solid #000000;
  padding:20px 0;
  font-size: 14px;
}
#main {
  padding-bottom: 40px;
}
hr {
  margin-top: 20px;
}
p {
}
img.screenshot {
  margin-bottom: 20px;
  width: 260px; 
}
.sidebar {
  width: 100%;
  padding: 0 10px;
}
.sidebar h4 {
  background-color: #EFEFEF;
}
.sidebar ul {
  list-style: none;
  margin-left: 0;
}
.sidebar ul li {
  margin-left: 0;
  font-weight: bold;
}
table.pin td {
  vertical-align: top;
  padding-bottom: 10px;
}
.red { color: red; font-weight:bold }
.green {color:green; font-weight:bold}
.purple {color:purple; font-weight:bold}
.blue {color:blue; font-weight:bold}


