 <fieldset style="min-height: 390px;">
  <div class="row">
    <h3 style="margin-bottom:14px"><%= @alert.title %></h3>

  </div>
  <div class="row">
    <%= simple_format @alert.description %>
  </div>
</fieldset>
