
    <h3>
     An important note on arrival times
    </h3>

    <p>
    The arrival times displayed in the app are approximations rather than than guarantees.
    Service delays due to traffic and other conditions can change the actual arrival times.
    Please visit the <b>T Alerts</b> section of this app (from the Main Menu) 
    to see if there are any serious service delays or changes for any of the routes or lines
    you're waiting for.
    </p>

    <p>
    Also, there may be kinks in the 
<%= link_to "GTFS", "http://code.google.com/transit/spec/transit_feed_specification.html" %> 
data or in the way that OpenMBTA's data server interprets it that could result in wrong  schedule information.  With the help of user bug reports, these will be ironed out over time.
    </p>

    <h3>
    A tip for handling the map
    </h3>

    <p> 
    In the map view, you can quickly zoom into an area of interest by
    double-tapping on a spot in the map. You can also pan around the map by
    dragging it, and zoom in or out by stretching and pinching the map with your fingers.
    </p>


