    <p>
    Press the  <b>Shift Time</b> button in the upper right corner to bring up
    the time picker. You can adjust the time to see the scheduled stops for a
    particular time of the current day. Once you change the time setting and
    return to the map or table you were just looking at, you should see the
    arrival times change to reflect the new time you selected. 
    </p>

