<fieldset>
  <div class="row">
    <h3>
      What is this information?
    </h3>

    <p>
      Information here.
    </p>

    <p>
      Second paragraph.
    </p>

    <p>
      A third paragraph.
      <%= link_to "MBTA", "http://mbta.com" %>
    </p>

  </div>
</fieldset>
