<fieldset>
  <div class="row">
    <h3>
     Guide
    </h3>
    <p>
    OpenMBTA shows you stop locations, the next arrival times at each stop, and
    time schedules for the route you selected. You can switch between a map
    view and schedule view for each route.
    </p>
    <%= render :partial => 'guide' %>

    <% if @transport_type.downcase != 'commuter rail' %>
      <%= render :partial => 'guide2' %> 
    <% end %>

    <%= render :partial => 'guide3' %> 
  </div>
</fieldset>
