<fieldset>
  <div class="row">
    <h3 style="padding-left: 14px;padding-right:14px;">
      Help
    </h3>
  </div>

  <div class="row" style="padding-top:0px;">
    <div class="mainBox">

      <div style="padding-bottom: 0px;padding-right: 10px;">

        <p>
          Information here.
        </p>

        <p>
          Second paragraph.
        </p>

        <p>
          A third paragraph.
          <%= link_to "MBTA", "http://mbta.com" %>
        </p>


      </div>
    </div>
  </div>
</fieldset>
