<fieldset>
  <div class="row">
    <h3>
      Help
    </h3>
  </div>

  <div class="row">

    <p>
      Information here.
    </p>

    <p>
      Second paragraph.
    </p>

    <p>
      A third paragraph.
      <%= link_to "MBTA", "http://mbta.com" %>
    </p>


  </div>
</fieldset>
