config/development.sphinx.conf
*.sphinx.conf
db/sphinx/
.DS_Store
PASSWORDS
netflix_index.xml
log/
tmp/
#.sql
*.sqlite3
*.swp
*.csv
public/genres.html
public/genres
public/people
coverage
screenshots/
backups/
data/
